html {
    height: 100%;
    /* Make the HTML element occupy full height */
    width: 100%;
    /* Make the HTML element occupy full width */
}

body {
    font-family: 'Roboto', sans-serif;
    /* Use the Roboto font */
    margin: 0;
    padding: 0;
    /* Remove default margin and padding */
    height: 100vh !important;
    /* Make the body occupy full height */
    width: 100%;
    /* Make the body occupy full width */

    background: rgb(65,81,108);
    background: -moz-linear-gradient(97deg, rgba(65,81,108,1) 0%, rgba(110,139,133,1) 29%, rgba(155,197,157,1) 59%, rgba(204,213,132,1) 83%, rgba(200,173,85,1) 100%);
    background: -webkit-linear-gradient(97deg, rgba(65,81,108,1) 0%, rgba(110,139,133,1) 29%, rgba(155,197,157,1) 59%, rgba(204,213,132,1) 83%, rgba(200,173,85,1) 100%);
    background: linear-gradient(97deg, rgba(65,81,108,1) 0%, rgba(110,139,133,1) 29%, rgba(155,197,157,1) 59%, rgba(204,213,132,1) 83%, rgba(200,173,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#41516c",endColorstr="#c8ad55",GradientType=1);

    /* Ensure background goes all the way the full height of the page even if it chnages */
    background-size: 300% 800%;
    /* Add movement to background left to rigth */
    animation: moveBackground 15s ease-in-out infinite;
}

#page{
    margin-top: 100px;
}

.headerbio{
    margin-left: 50px;
    margin-right: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white !important;
}

@keyframes moveBackground {
    0% {
        background-position: left center;
    }

    50% {
        background-position: right center;
    }

    100% {
        background-position: left center;
    }
}

/* General Reset for Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#top-bar {
    background-color: #3f2c27 !important;
    /* Dark background color */
    color: white;

}

#topbarpadding{
    height: 1px !important;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #3F2C27, #3f2c2777) !important;
}
#topbarpadding2{
    height: 1px !important;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #3f2c2777, #3f2c2700) !important;
}

.dwn-div {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    height: 100%;
    width: 100%;
}

.nav-link {
    color: white !important;
    /* Light text color */
    background-color: #3F2C27;
    padding: 5px 10px !important;
    border-radius: 5px;

}

.litleprojbtn {
    color: white !important;
    /* Light text color */
    background-color: rgb(21, 67, 96);
    border: 1px solid rgb(21, 67, 96);
    padding: 5px 10px !important;
    border-radius: 5px;
    margin-right: 10px;
}

.litleprojbtn p {
    color: white !important;
    /* Light text color */
    border-radius: 5px;
    margin: 0;
}

.nav-link:hover {
    background-color: #41516c;
    transition: background-color 0.3s ease-in-out;
    /* Change background color on hover */
}

.litleprojbtn:hover,
.litleprojbtn p:hover {
    background-color: #494e53;
    transition: background-color 0.3s ease-in-out;
    /* Change background color on hover */
}

.navinner{
    padding-left: 30px !important;
}

#spacer{
    width: 50px !important;
}

/* Carousel Styles */
.carousel-inner {
    width: 100%;
    height: 100%;
    /* Adjust the height of the carousel as needed */
    position: relative;
}

.carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    /* Ensures the image fills the carousel proportionally */
    transition: transform 5s ease-in-out;
    /* Smooth transition for image scaling */
}

.carousel-item.active img {
    transform: scale(1.1);
    /* Scale the active image slightly for a zoom effect */
}

/* Carousel Controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    /* Makes the arrows white */
}

/* Text Card at the Bottom */
.overlay-text {
    background: rgba(0, 0, 0, 0.8);
    /* Dark semi-transparent background */
    color: white;
    padding: 10px 15px;
    /* Smaller padding for compact design */
    position: absolute;
    bottom: 0;
    /* Place the text card at the bottom of the container */
    left: 0;
    width: 100%;
    /* Make the text card occupy full width */
    z-index: 2;
    font-size: 0.9rem;
    /* Smaller text size */
    line-height: 1.4;
    /* Adjust line spacing for better readability */
}

.overlay-text .card-title {
    font-size: 1.2rem;
    /* Smaller title size */
    font-weight: bold;
    margin-bottom: 10px;
}

.language-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: clip;
    white-space: normal;
    max-height: 6em;
    line-height: 1.5em;
}

.overlay-text .card-text {
    font-size: 0.7rem;
    /* Smaller body text */
    margin-bottom: 10px;
    text-align: justify;
    /* Justify text for better readability */
}

.overlay-text .btn-primary {
    background-color: #007bff;
    border: none;
    font-size: 0.7rem;
    /* Smaller font size for the button */
    transition: background-color 0.3s ease-in-out;
}

.button-plus {
    text-align: end;
    padding-left: 0%;
}

.btn-outline-info {
    height: 40px;
    width: 40px;
}

.overlay-text .btn-primary:hover {
    background-color: #0056b3;
}

/* Card Styles */
.card {
    position: relative;
    overflow: hidden;
}

.card-body {
    z-index: 10;
    /* Ensure the overlay text appears above other elements */
}

/* Carousel Container */
.image-container {
    position: relative;
    overflow: hidden;
}

/* Responsiveness */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 0.8rem;
        /* Smaller font size for smaller screens */
    }

    .overlay-text .card-title {
        font-size: 1.2rem;
    }

    .overlay-text .card-text {
        font-size: 0.7rem;
    }

    .overlay-text .btn-primary {
        font-size: 0.7rem;
    }
}

.project-card {
    position: relative;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: min-content;
    /* Minimum width for the cards */
    margin-right: 20px;
    /* Space between cards */
}

.project-card h5 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    overflow-x: auto;
    font-size: x-small;
    width: 100%;
    overflow: hidden;
}

.project-minicard {
    height: 40px;
    width: auto;
    padding: 5px;
    text-align: center;
}

.project-minicard p {
    margin: 2px;
    font-size: smaller;
}

.hab-card {
    min-height: 92%;
    background-color: #494e53 !important;
    color: white;
}

.hab-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    position: absolute;
    top: 10px;
}

.hab-level {
    position: absolute;
    bottom: 30px;
}

footer {
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0 !important;
    /* Dark background color */
    color: white;
    /* Light text color */
    background: linear-gradient(to top, #494e53, rgba(73, 78, 83, 0));
    padding-top: 100px;
    bottom: 0;
}


footer .row {
    margin: 0;
    display: flex;
    align-items: center;
}

/* From Uiverse.io by cssbuttons-io */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(21, 67, 96);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #cfd2fd;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #ffffff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #070707;
}

.download-cv-btn {
    --😀: #41516c;
    --😀😀: #617494;
    --😀😀😀: #6e8b85;
    cursor: pointer;
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 2px;
    color: #fff;
    background: var(--😀);
    border: 2px solid var(--😀😀);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--😀😀);
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px var(--😀😀😀));
}

.download-cv-btn:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀);
}

.devicon {
    font-size: 3rem;
}

.custom-loader {
    width: 22px !important;
    height: 130px;
    bottom: 0;
    border-radius: 20px;
    color: rgb(43, 124, 175);
    border: 2px solid white;
    position: relative;
}

.custom-loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    border-radius: inherit;
    background: rgb(51, 132, 182);
    animation: p6 2s linear ease-in;
}

.ldr90::before {
    inset: 10% 0 0 0;
}

.ldr80::before {
    inset: 20% 0 0 0;
}

.ldr70::before {
    inset: 30% 0 0 0;
}

.ldr60::before {
    inset: 40% 0 0 0;
}

.ldr50::before {
    inset: 50% 0 0 0;
}

.ldr40::before {
    inset: 60% 0 0 0;
}

.ldr30::before {
    inset: 70% 0 0 0;
}

.ldr20::before {
    inset: 80% 0 0 0;
}

.ldr10::before {
    inset: 90% 0 0 0;
}

.ldr0::before {
    inset: 100% 0 0 0;
}

@keyframes p6 {
    100% {
        inset: 0
    }
}

.skilltxt {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: x-small;
}

.timeline {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

/* line */
.timeline::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
.timeline li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    background-color: #cfd2fd;
}

/* date */
.timeline li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

/* circle */
.timeline li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline li .title,
.timeline li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
}

.timeline li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
}

.timeline li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
}

/* shadows */
.timeline li .title::before,
.timeline li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}

.timeline li .title::before {
    bottom: calc(100% + 0.125rem);
}

.timeline li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}

@media (min-width: 60rem) {
    .timeline {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .timeline::before {
        grid-column: 2;
    }

    .timeline li:nth-child(odd) {
        grid-column: 1;
    }

    .timeline li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    .timeline li:nth-child(2) {
        grid-row: 2/4;
    }

    .timeline li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .timeline li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .timeline li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}

.aboutme {
    background-color: #cfd2fd !important;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.aboutme p {
    color: black !important;
}

.infocol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px !important;
    align-self: baseline;
    padding-bottom: 100px;
}

.timelinecol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px !important;
    align-self: baseline;
}

.info-field{
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    background-color: #cfd2fd;
}

.info-field p {
    color: black !important;
}

.info-field h4 {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: #41516C;

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

.info-field h4::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

.info-field h4::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.info-field h5 {
    color: black !important;
}

.field-info{
    text-align: center;
    margin: auto;
}

.field-info p {
    color: black !important;
}